<div class="wrapper">
        <app-layout-header>{{ 'LOADING' }}header...</app-layout-header>
        <div class="content-wrapper">
            <div class="container">
                <!--<section class="content-header">-->
                    <!-- Content Header (Page header) -->
                    <!--<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
                    <app-breadcrumb></app-breadcrumb>-->
                    <!-- Main content -->
                <!--</section>-->
               
                <section class="content">
                    <router-outlet></router-outlet>
                </section>
                <!-- /.content -->
            </div>
            
        </div>
    </div>