<div class="">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body login-box-custom">

            <div class="login-logo">
                <div class="col-md-6 col-md-offset-3">
                    <img src="/Content/Images/rocket.png" class="img-responsive"/>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <img src="/Content/Images/name_icon.png" class="img-responsive margin-bottom-30" />
                </div>
                
            </div>

            <form>

                <div class="form-group has-feedback">
                    <div class="input-group margin-bottom-sm input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control input-lg" type="text" placeholder="Login" [(ngModel)]="login" name="lgn">
                    </div>
                    <div class="input-group margin-bottom-sm input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Hasło" [(ngModel)]="password" name="passwd">
                    </div>
                </div>

                <div class="form-group" *ngIf="errorOccured">
                    <div class="callout callout-danger">
                        <h4>Błąd</h4>
                        <span>{{errorMessage}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <!-- /.col -->
                    <button type="submit" class="btn btn-primary btn-block btn-lg" [ngClass]="{'disabled':inProgress}" (click)="signIn()">
                        <i [ngClass]="{'fa fa-fw fa-spinner fa-spin':inProgress}"></i>
                        Zaloguj
                    </button>
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
</div>
