<div class="modal-header">
    <h4 class="modal-title pull-left">Edycja</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="detailsProgress">
        ładuje
    </div>
    <div *ngIf="!detailsProgress">
        <tabset class="margin-bottom-30">
            <tab heading="Użytkownik">
                <edit-user-tab [model]="details"></edit-user-tab>
            </tab>
            <tab heading="Hasło">
                <edit-password-tab></edit-password-tab>
            </tab>
            <tab heading="Punkt sprzedaży">
                <edit-salespoint-tab></edit-salespoint-tab>
            </tab>
        </tabset>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-left" (click)="removeUser()" *ngIf="!detailsProgress">Usuń</button>
    <button type="button" class="btn btn-default pull-right" (click)="bsModalRef.hide()">Wyjdź</button>
</div>