<div class="wrapper">
    <app-layout-header [links]="mylinks">{{ 'LOADING' }}header...</app-layout-header>
    <div class="content-wrapper">
        <div class="container">
            <!--<section class="content-header">-->
                <!-- Content Header (Page header) -->
                <!--<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
                <app-breadcrumb></app-breadcrumb>-->
                <!-- Main content -->
            <!--</section>-->
           
            <section class="content">
                <div class="box box-default">
                    <div class="box-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        
    </div>
</div>