<div class="form-horizontal margin-top-30">
    <div class="form-group">
        <label class="col-sm-2 control-label">Zmień hasło</label>
        <div class="col-md-5">
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Nowe hasło" [(ngModel)]="newPassword" [disabled]="inProgress" showPassword>
            </div>
            
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" (click)="changePassword()" [disabled]="inProgress">
                <span *ngIf="!inProgress"><i class="fa fa-save"></i></span>
                <span *ngIf="inProgress"><i class="fa fa-spinner fa-spin"></i></span>
            </button>
        </div>
    </div>
</div>