.no-spinners {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.map-modal {
    height:400px;
    padding-left:50px;
    padding-right:50px;
}

.map-modal > agm-map {
    height: 100%;
    width: 100%;
}

.modal-map-control {
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.modal-map-latlng {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom:0px;
}

.container-full-screen {
    height:100%;
    width:100%;
}

#lottie-loader-container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.login-logo{
    margin-top:50px;
}

.content-middle {
    display: inline-block;
}

.content-middle > * {
    vertical-align: middle;
}

.modal-header {
    padding-bottom: 35px !important;
}

.tab-container > .nav-tabs {
    margin-bottom: 30px;
}

.margin-10{
    margin:10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-top-50 {
    margin-top: 50px;
}


.margin-top-30{
    margin-top:30px;
}

.margin-left-10 {
    margin-left: 10px;
}


.padding-left-0{
    padding-left:0px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-bottom-0{
    padding-bottom:0px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.resize-vertical {
    resize: vertical;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}


.datatable-body-row.active{
    background:#ccc !important;
}