.loader-container {
    background: url(/Content/Images/loader.gif) no-repeat center center;
    width: 100%;
    height: 100%;
}


.login-box-custom {
    border-radius: 5px;
    background-color: #eee;
    border: 3px solid #ddd;
}

.login-logo{
    margin-top:50px;

}

.content-middle {
    display: inline-block;
}

    .content-middle > * {
        vertical-align: middle;
    }

.modal-header {
    padding-bottom: 35px !important;
}

.tab-container > .nav-tabs {
    margin-bottom: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-30{
    margin-top:30px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-0{
    padding-left:0px;
}

.resize-vertical {
    resize: vertical;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
